.App {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  /* background:  url('./img/background4.png'); */
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 500;
  /* color: #2D2926FF; */
  color: white;
}

.page-container{
  max-width: 600px;
  position: relative;
}

.video-div{
  position: absolute;
  width: 214%;
  height: 150%;
  margin-left: -57%;
  margin-top: -45.5%;
}

.image-container{
  width: 100%;
  height: 175px;
}

.welcome-logo{
  width: 50%;
  height: auto;
}

.content-container{
  position: absolute;
  border-radius: 55px;
  background-color: #BF1E2D;
  color:#FCF6F5FF;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
}



.start-button{
  color: white;
}

.start-button:hover{
  color: white;
}

.padded-row{
  margin-bottom: 20px;
}

.settings-container{
  background-color: #BF1E2D;
  border-radius: 15px;
  text-align: left;
  padding: 80px;
  overflow: scroll; 
}
.settings-container label{
  width: 100%
}

.settings-container .radio {
  text-align: center;
}

.template-logo{
  width: 85%;
  height: auto;
  float: left;
}

.question-container{
  /* width: 70%;
  height: 100%;
  min-height:70vh;
  max-width:70hw; */
  text-align: left;
  padding: 80px;
  overflow: scroll;
  background-color: #BF1E2D;
  border-radius: 15px;
}

.team-name{
  max-width: 40%;
  float: left;
}

.team-score{
  max-width: 40%;
}

.team-score label{
  float: right;
}

.question{
  color: black;
  text-align: center;
  height: 50px;
  margin-top: 20px;
  background: white;
  padding: 5px;
  border-radius: 35px;
}

.choices{
  text-align: center;
  margin-top: 20px;
}

.choice {
  color: black;
  background-color: #bf1e2d;
  height: 50px;
  color: white;
  font-size: 16pt;
  text-align: center;
  width: 100%;
  padding: 5px;
  border-radius: 35px;
}

.choice:hover{
  background-color: #bf656e;
}

.app-slide{
  max-height: 70vh;
  max-width: 70%;
  /* opacity: 0.2; */
  background-color: #BF1E2D;
  border-radius: 15px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Welcome h6{
  color: gainsboro;
  padding: 50px;
}

.Welcome div{
  min-width: 100%;
  /* height: 100%; */
  /* min-height: 70vh; */
  /* display: flex; */
}

.box-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Welcome p{
  /* font-family: 'Arial Black'; */
  font-style: bold;
  color: white;
  font-size: 28pt;
  margin-bottom: 50px;
  margin-top: 50px;
  transition: transform .2s; /* Animation */
}
.Welcome p:hover {
  transform: scale(1.1);  
}
.Welcome img{
  max-width: 250px;
  padding: 30px;
  float: left;
}

.App button:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  
}

.Settings{
  width: 70%;
  height: 100%;
  min-height:70vh;
  max-width:70hw;
  text-align: left;
  padding: 80px;
  overflow: scroll;
  /* display: flex; */
}


.Settings label{
  display: inline-block;
  font-size: 24px;
}

.Settings h6{
  font-size: 12;
  color: black;
  bottom: 18%;
}

.Settings .submitbutton{
  bottom: 18%;
  left: 15%;
  /* width: 150px; */
}
.start-button{
  font-size: 16px;
  font-style: bold;
  float: right;
}

.number-input{
  margin-left: 10px;
  /* min-width: 100px; */
  min-height: 100px;
}

.Settings .input input{
  font-size: 20px;
}

.back-button{
  font-size: 16px;
  font-style: bold;
  float: left;
}

